

<div class = 'addGame'>
<form method = 'POST' action = '' >
    <label> Name</label>

    <input type = 'text' name = 'name'>

    <label> year</label>

    <input type = 'number' name = 'year'>

    <br>
    <label class = 'platform'>Platform:   </label>


    <label for="Nintendo Switch"> Nintendo Switch</label>
    <input type="checkbox" id = "Nintendo Switch" name = "Nintendo Switch" value="Nintendo Switch">

        <label for="Xbox"> Xbox</label>
        <input type="checkbox" id="Xbox" name="Xbox" value="Xbox">

        <label for="PS"> PS</label>
        <input type="checkbox" id="PS" name="PS" value="PS">

        <label for="PC"> PC</label> 
        <input type="checkbox" id="PC" name="PC" value="PC">

        <label for="Other"> Other</label>      
        <input type="text" id="Other" name="Other">
    <br>

    <label> Website</label>
    <input type = 'text' name = 'website'>

    <input type = 'submit' name = 'submit'>

</form>
</div>

{{> backToHome}}