

<div class = 'addImg'>
<form method = 'POST' action = '' >
    <label> Game</label>

    <input type = 'text' name = 'game'>

    <label> URL</label>

    <input type = 'text' name = 'url'>


    <input type = 'submit' name = 'submit'>

</form>
</div>

{{> backToHome}}