

<div class = 'gameTriviaDiv'>
    <div class = 'settingUpTriviaDiv'>
        <h2 class = 'triviaTitle'>Game Trivia</h2>
        <button class = 'triviaStart' name = 'triviaStart'> START!</button>
        <p> ⚠️The trivia hold <mark class = 'yellow'> 30</mark> seconds </p> 
        <p> ⚠️You will be provided with a fraction of the representitive picture of a game </p>
        <p>    with two descriptions of the game year and released platform </p> 
        <p> ⚠️Then choose one of the choices in A B C D </p>
    </div>

</div>


<script src = '../trivia.js'>trivia.js</script>
{{> backToPersonal}}