

<div id = 'welcome'>
    <h1 id = 'welcomeTitle'>Welcome to Game Dictionary</h1>
</div>
<div id = 'loginregi'>
    <a href = '/login'>
    <button type= "button" class = "loginregiBtn" id = 'login1Btn'>Log In!</button>
    </a>
    </br>
    <a href = '/register'>
    <button type = "button"class = "loginregiBtn" id = 'regi1Btn'>Register!</button>
    </a>
</div>

<script>
    document.querySelector('#bodyImg').style.filter = 'blur(2px)';
</script>


