<!doctype html>
<head>
	<title></title>
	<link rel = 'stylesheet' href = 'public/stylesheets/style.css'>
</head>
<body>
	<div id = 'bodyImg'>
	</div>

	<div id = 'container'>
	{{{body}}}
	</div>
</body>

</html>